/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #6b6e72, #0e0e10);
  margin: 0;
  padding: 0;
  height: 100%;
}

.success-snackbar .mdc-snackbar__surface{
  background: #314f31 !important;
  color: rgb(150, 197, 133) !important;
  border-radius: 0.5rem !important;
}

.error-snackbar .mdc-snackbar__surface{
  background: #5b1d19 !important;
  color: rgb(187, 135, 135) !important;
  border-radius: 0.5rem !important;
}

.info-snackbar .mdc-snackbar__surface {
  background: #292e4a !important;
  color: rgb(153, 162, 190) !important;
  border-radius: 0.5rem !important;
}

.success-snackbar .mat-mdc-snack-bar-action .mdc-button__label {
  color: #a5d6a7 !important;
}

.error-snackbar .mat-mdc-snack-bar-action .mdc-button__label {
  color: #ef9a9a !important;
}

.info-snackbar .mat-mdc-snack-bar-action .mdc-button__label {
  color: #9fa8da !important;
}